[2017-11-13 21:45] fredRos opened #23 "Plot histogram"
Time to create issues! I know this isn't a glorious first issue like Ubuntu #1 but here we go. On the dev branch 465f200663 with julia v0.6, I cannot plot a histogram of the samples from this minimal example

[code]

[code]

[2017-11-14 09:00] oschulz commented on #23
It's

Plots.plot(samples, (1,2))

:-)

[2017-11-14 10:36] fredRos commented on #23
But how to get the histogram instead of individual. samples?

[2017-11-14 10:52] oschulz commented on #23
Just

    plot(samples_mh, (1, 2), seriestype = :histogram2d)

if finner binning is required, something like

    plot(samples_mh, (1, 2), seriestype = :histogram2d, nbins = 100)

[2017-11-14 11:19] fredRos commented on #23
And that's exactly what didn't work, hence the bug report. Is it because I use julia 0.6 perhaps?

[2017-11-14 12:51] oschulz commented on #23
Looks like there's an incompatibility between the current Plots.jl and StatsBase.jl. Get the latest Plots master, for now (`Pkg.checkout("Plots")`), I'll ask them to make a new release.

[2017-11-14 12:51] #23 closed

[2017-11-14 13:50] fredRos commented on #23
Ok, that fixed the problem

[2018-01-21 11:32] altavir opened #42 ""My first BAT script" example documentation."
Need at least basic example of working with core functionality. Probably better to use Jupyter notebook with julia kernel plugin since Github could render it.

[2018-02-01 17:22] LolianSh opened #47 "Multi-proposal MCMC"
- [x] Evaluate T1
- [x] Get a running sampler
- [ ] Optimize the variance
- [x] Tune proposal distribution
- [ ] Optimize parameters (number of running chains, number of proposals)
- [x] Tests
- [ ] Documentation in the manual

[2019-03-12 16:56] fredRos opened #65 "Update License"
Had a look at the license file, I feel flattered to be mentioned in there but I guess instead the actual copyright holders should appear. In any case, my old LMU email has been retired

[2019-03-12 20:12] oschulz commented on #65
Good point, need to update the license file

[2019-03-12 20:14] oschulz commented on #42
Well add that soon.

[2019-03-24 16:21] VasylHafych opened #66 "Eigenfunction Error"
Hi,
Seems like function **[eig()](https://docs.julialang.org/en/v0.6.2/stdlib/linalg/#Base.LinAlg.eig)** has to be replaced with **[eigvals()](https://docs.julialang.org/en/v1/stdlib/LinearAlgebra/index.html)**.
https://github.com/bat/BAT.jl/blob/4e41e73f87cd1755e6ef6e4caa1e64f328ac23f5/src/samplers/mcmc/algorithms/mh_tuner.jl#L108
The first one is crashing tunning cycle and giving an error.

Vasy

[2019-03-25 13:50] oschulz commented on #66
Thanks!

Fixed in 9055e92 and latest release v0.2.1

[2019-03-25 13:50] #66 closed

[2019-03-25 14:36] VasylHafych commented on #66
Thanks!
There is one more function that should be replaced there:
`eye(length(ev))` with `Matrix{Float64}(I, length(ev), length(ev))`
See here:
https://github.com/bat/BAT.jl/blob/4e41e73f87cd1755e6ef6e4caa1e64f328ac23f5/src/samplers/mcmc/algorithms/mh_tuner.jl#L111

[2019-03-25 20:14] oschulz commented on #66
Thanks for noticing, fixed in 6ad050d.

[2019-09-03 18:16] IwM341 opened #74 "how to get(build) docs"
ERROR: Load

Error: `makedocs` encountered an error. Terminating build
[BatDocsBuildProblem.txt](https://github.com/bat/BAT.jl/files/3570862/BatDocsBuildProblem.txt)

[2019-09-03 18:18] altavir commented on #74
Please provide more informative message. What you tried to achieve. What did you expect, etc

[2019-09-03 18:19] IwM341 commented on #74
i try to get a documentation of bat.jl

[2019-09-03 18:23] #74 closed

[2020-01-06 12:59] altavir opened #93 "Tutorial is missing package installation"
The first line here: https://bat.github.io/BAT.jl/dev/tutorial/#Tutorial-1 is failing because some packages are not installed.

[2020-01-06 13:02] oschulz commented on #93
Is this with BAT v1.0.1, or the dev-version (master branch)? Which package(s) is/are missing?

[2020-01-06 13:08] altavir commented on #93
Packages are there, I mean that there is no instruction about `Pkg.add(...)` and related stuff. Without it, it fails immediately. Since Julia is not that famous, I think it makes sense to add a remark about package installation.

[2020-01-06 14:51] oschulz commented on #93
You mean like here? https://bat.github.io/BAT.jl/stable/installation

[2020-01-06 15:02] altavir commented on #93
Yeah, I missed this part, only wanted to launch tutorial. Please add a reference to this page to the tutorial, it should cover everything.

[2020-02-12 14:01] philippeller opened #97 "Trim function of AHMI not working as expected"
The function defined here https://github.com/bat/BAT.jl/blob/master/src/integration/ahmi/util.jl#L2 is supposed to cut out the central 68% of the integral estimates, i.e. reject outliers. If less than 3 estimates are provided it does not make a cut.

Test:

- `BAT._trim( [-1., 0, 1, 2, 3]) = ([1, 5], [2, 3, 4])` looks fine,
- However `BAT._trim([-10., 0, 1, 2, 3]) = ([1, 2, 5], [3, 4])` while expe

[2020-02-12 14:03] philippeller opened #98 "Replacement of empty subsets"
In https://github.com/bat/BAT.jl/blob/master/src/integration/ahmi/harmonic_mean_integration.jl#L453 integral estimates that are `nan` or `inf` (presumably when the hyper-rectangles are empty) are replaced by the estimate from the full sample. This should not be the case

[2020-02-12 16:55] oschulz commented on #97
Sounds good - want to make a PR? Maybe also include the tests you proposed?

[2020-02-12 16:57] oschulz commented on #97
Or maybe @VasylHafych?

[2020-02-12 16:57] oschulz commented on #98
Good catch - @VasylHafych, want to take a look at this?

[2020-02-13 11:23] philippeller commented on #97
If @VasylHafych can help me with getting set up in 'dev' mode i can learn how to do that and make a PR

[2020-02-19 10:20] VasylHafych opened #100 "Type of Sample Weights"
Currently, the sample weights outputed by BAT are of type `Array{Int64}`. While standard Julia Stats functions require weights type such as (`AnalyticWeights`, `FrequencyWeights`, `ProbabilityWeights`, ...).
I suggest using `FrequencyWeights` for Metropolis-Hastings and `ProbabilityWeights` for accept/reject sampling.

[2020-02-19 10:46] oschulz commented on #100
I've considered this a while ago, but decided against it: The problem is the weird behavior of `...Weights` - it's a special array type of real, instead of representing itself as an array of a weights-type. That would make row-access in `DensitySampleVector` problematic.

[2020-02-19 10:46] #100 closed

[2020-04-01 11:01] VasylHafych opened #109 "Error of iid sampler with a truncated mixture distribution"
Hi @oschulz,

I found one bug while testing BAT iid sampler. I am not sure if this is a problem of BAT, but if so it might be useful to fix it to be able to test AHMI properly. Here is a code example:

[code]

the error message is

[code]
By the way, MCMC sampling works correctly with this distribution. Only iid sampling of truncated distribution fails .

[2020-04-01 14:35] VasylHafych opened #110 "AHMI fails with multiple workers"
Hi @oschulz! As I promised, here is an example of code that shows that AHMI fails when multiple workers are used.

[code]
I am getting the following error
[code]
Can you please have a look at it?

[2020-04-03 10:20] JoshTMoody opened #111 "BAT Precomiler Error: ZeroVector not defined"
Hi all,

I would like to use BAT to do some analysis on some of my spectroscopy data from AWAKE.

I have been going through the tutorial and when I try to precompile BAT I get an error about ZeroVector not being defined.

After doing some searching I found that ZeroVector is supposed to live in the Distributions module, which is a part of JuliaStats, or maybe even it was supposed to be in Base but

[2020-04-03 10:43] VasylHafych commented on #111
Hi @JoshTMoody,

I am currently using the BAT#master branch with Julia 1.4 and I have no issues. Which BAT branch are you using?

I would first try updating packages and see if it helps. Try this from the Julia REPL:

[code]
If this is not helpful — let us know.

[2020-04-03 10:50] oschulz commented on #111
Thanks for reporting, I'll look into it! Please use the master branch for now.

[2020-04-03 10:58] oschulz commented on #111
Actually BAT v1.0.1 doesn't contain any reference to ZeroVector, and tests pass, so I'm closing this for now.

[2020-04-03 10:58] #111 closed

[2020-04-08 20:59] oschulz commented on #109
Sorry for the late reply!

This is technically not a problem in BAT, it's just that BAT relies on `var(dist)` being defined for distributions used as priors. StatsBase defines `var` for `Truncated(Normal(...))` but not for `Truncated` in general (would require numerical integration).

I'm planning to change a few things in BAT so that BAT will use a fall-back in such cases. Until then,
here's a so

[2020-04-16 14:49] oschulz commented on #110
@VasylHafych this should be fixed on master now.

[2020-04-16 14:49] #110 closed

[2020-04-16 16:55] VasylHafych commented on #110
Hi Oliver,
Thank you, I did the same a few days ago as a possible workaround. Should we think of a more generic approach where we can allow for the user to utilize also workers, if available?

[2020-04-16 17:55] oschulz commented on #110
I am thinking about it - it's not trivial though: We often expect to have a hierarchy of algorithms and have to prevent them from fighting over the available workers.

[2020-04-28 21:36] VasylHafych opened #118 "Plotting Warnings"
Hi @oschulz @Cornelius-G. It looks like plotting recipes are now throwing a huge number of warning messages. For example, if I run a tutorial from the documentation I am getting:

[code]
[code]
Can you check if you have the same problem? I am using Plots v1.1.3, warnings are present for both `gr()` and `pyplot()` backends.

[2020-04-29 07:05] Cornelius-G commented on #118
Hi @VasylHafych, thanks for reporting. I'm currently updating the plot recipes and I will have a look into this issues.

[2020-05-04 14:11] Cornelius-G commented on #118
Should be fixed with #121

[2020-05-29 07:53] Cornelius-G commented on #118
@oschulz could you close this issue? It seems I can't do this

[2020-05-29 08:41] oschulz commented on #118
Sure, and thanks!

[2020-05-29 08:41] #118 closed

[2020-06-09 10:32] oschulz opened #132 "bat_marginalize should return a NamedTuple"
`bat_marginalize` should always return a NamedTuple `(result = ...,)`, to leave room for additional, algorithm-specific output values. This is something like a standard for all `bat_....()` functions now. Sorry, forgot to mention that on the PR that added `bat_marginalize`.

CC @Cornelius-G, @VasylHafych

[2020-06-19 19:49] oschulz opened #142 "HMC sampler returns repeated samples"
Currently, the HMC sampler seems to repeats samples the proposal are rejected in the MH step:

[code]

If we get repeated samples from AdvancedHMC, we want to increase the weight of the sample in steps of one instead of repeating it in the output. AHMI, for example, needs unique samples.

[2020-06-19 19:53] oschulz commented on #97
Fixed in #97

[2020-06-19 19:53] #97 closed

[2020-06-19 19:54] #65 closed

[2020-06-19 19:55] oschulz commented on #47
We'll shelve this, for now.

[2020-06-19 19:55] #47 closed

[2020-06-19 19:55] oschulz commented on #42
We have a tutorial now.

[2020-06-19 19:55] #42 closed

[2020-06-22 19:58] Cornelius-G commented on #142
Ok, so I had a look into this and think I know why this is and how it may be solved.
The only issue is that I now also have another problem when using AHMC sampler.
When trying to run the `plotting_examples.jl` with `AHMC()`, I get the following error:
[code]
This seems to happen when calling `density_logval` in the `AHMCIterator` ctor. @oschulz, I saw you made some changes a few days ago affectin

[2020-06-22 21:20] oschulz commented on #142
Actually, it should be safer now than before, not the other way round, hopefully ...
Could you check again if it works with a commit before those changes, e.g. 3d50332 ?

[2020-06-22 21:38] oschulz commented on #142
Looks like the `likelihood` defined in "plotting_examples.jl" is not compatible with ForwardDiff in it's current form:

[code]

results in

[code]

You can now easily check autodiff-compatibility (currently only for ForwardDiff) using

[code]

You should either get a gradient or an exception.

[2020-06-22 22:00] oschulz commented on #142
The problem lies in `Distributions._mixlogpdf1` - that code is not compatible with dual numbers it doesn't propagate the type of the parameters properly. We should report a bug or make a bugfix PR.

[2020-06-22 22:12] oschulz commented on #142
I just changed `density_logval` to use `rethrow` to preserve the stacktrace of the original exception, makes it easier to track down such problems.

[2020-06-23 07:47] Cornelius-G commented on #142
Ah, ok I see. I just thought I had tested AHMC with the plotting examples, but maybe this was with a different likelihood or so.
Thanks for pointing to the error and adding the `rethrow`.

[2020-06-23 11:31] Cornelius-G commented on #142
The original issue with the repeated samples should be fixed with PR #144.

[2020-06-23 11:33] Cornelius-G commented on #132
I guess this issue can also be closed as it was fixed with PR #133

[2020-06-23 13:33] oschulz commented on #142
Thanks!

[2020-06-23 13:33] #142 closed

[2020-06-23 13:34] oschulz commented on #132
Oh, yes. But we have the more rigorous API for `bat_function`s now, so I'll change the title of this issue. :-)

[2020-06-23 13:37] oschulz commented on #132
So we should add the concept of marginalization to algotypes and algodefaults.

[2020-06-23 14:25] Cornelius-G commented on #132
Ah, ok. I will take a look at this.
We also wanted to think about the general structure of the marginalizations again.
So currently they have the original valueshape and the indices of the included parameters. But I guess we wanted to have them only the valueshape of the contained params, right?

[2020-06-23 16:48] oschulz commented on #132
Hm, from a purist point of view, they would not include the indices of the original parameters. Do we need them?

Actually, I've been thinking about adding a close relative to ValueShapes.jl that allows assigning a varshape to any generic multivariate `Distribution`. With that, we wouldn't even need a special data structure for marginalizations in BAT itself, it would just be a combinations of Val

[2020-06-24 19:26] Cornelius-G opened #146 "Mapping between names and indices fails for constant prior parameters"
I just noticed that when setting parameters of the prior constant, the mapping between parameter names and indices for the samples fails (which is needed in the plotting recipes). This is because in the shape of the samples the constant parameter is there, while there are no entries for it in the vector of `unshaped.(samples)`.
I guess I could fix this by adding some checks to see whether a shape

[2020-06-24 22:11] oschulz commented on #146
We actually do want to keep constant parameters our of the unshaped samples - AHMI, for example, wouldn't work if it saw constant parameters. The "contract" is that the parameter indices number the degrees of freedom. Also optimizers and similar algorithms don't like to deal with constant values, best if they don't see them. Same for the MCMC samplers.

Computations that use all parameters (also c

[2020-06-25 12:14] philippeller opened #148 "Use auto-correlation for sample splitting in AHMI"
For splitting samples in two (and also for sub-sets in the covariance estimates), we should split samples in chucks of correlation lengths

[2020-07-02 18:57] oschulz commented on #146
Closed in #153

[2020-07-02 18:57] #146 closed

[2020-07-08 09:52] Cornelius-G opened #160 "Can not sample with current master (5369acd)"
I just used the current master branch 5369acd and when trying to sample, I get the following error:
(also for fd5f305, with 060a49b however it works fine)
[code]

[2020-07-08 10:05] oschulz commented on #160
Can you send a code snippet that reproduces the error?

[2020-07-08 10:25] Cornelius-G commented on #160
Just tried a very simple thing:
[code]

Or was there a change in syntax I didn't notice?

[2020-07-08 13:40] oschulz commented on #160
Runs fine for me on master - is your version of ValueShapes up-to-date? Maybe run a pkg update, just in case.

Btw. one thing that is new that you now can also do this:

[code]

and even this

[code]

[2020-07-08 14:06] Cornelius-G commented on #160
Ah, sorry. Did not notice that my ValueShapes was not updated properly.

[2020-07-08 14:06] #160 closed

[2020-07-08 14:39] oschulz commented on #160
No problem, got a few more changes planned there (non-breaking). :-)

[2020-07-29 19:53] oschulz opened #166 "Add BinningAlgorithm algo type"
We currently handle choice of default binning differently in `bat_marginalmode` and `bat_marginalize`. We should add `BinningAlgorithm` as a new super-type for auto-binning algorithms (and also offer user-specified fixed binning).

[2020-07-29 22:39] Cornelius-G commented on #132
Ah, what should we now do about this issue?

I will check again if we need the original shapes for a correct matching of names to indices in plotting, but I think we actually would not need them for this.
If not needed, should we then make `MarginalDist` contain only the distribution and a subset of the original shape?

Or will you take a look into this proposed

?

[2020-07-29 23:03] Cornelius-G commented on #166
I think I  can take a look at this, maybe together with @VasylHafych, to harmonize our efforts from marginal mode and plotting in this new type.

[2020-07-30 06:56] oschulz commented on #166
Thanks! We can split `_auto_binning_nbins` among separate subtypes of `AbstractBinningAlgorithm`, and have a `FixedBinning` too or so. Of course we should allow `AbstractArray`s and `NamedTuple`s of binning algos (like you already implemented for plotting) so the user can specify binning in a per-parameter fashion.

[2020-07-30 07:02] oschulz commented on #132
Then let's drop them, it'll be much cleaner without.

Yes - I'm thinking about adding a generic "add NamedTupleShape to any dist" wrapper to ValueShapes - that would then make it possible to replace MarginalDist by that wrapper combined EmpiricalDistributions.

[2020-07-30 09:30] Cornelius-G commented on #166
Ok, so just to make sure I understand what you propose:

We will add a `AbstractBinningAlgorithm` as a supertype for the different automatic binnings, like `Freedman–Diaconis` and so on.
These types could then be passed to `plot` and `bat_marginalize` as a keyword argument like `plot(samples, :a, bins=FD())` and would trigger the right version of `_auto_binning_nbins`.
But how exactly should we ha

[2020-07-30 09:48] oschulz commented on #166
Yes, that's the idea. `FixedBinning` would indeed be a subtype of `AbstractBinningAlgorithm`.

To make life more comfortable for the users, we should define `Base.conv(::Type{AbstractBinningAlgorithm}, x)` for symbols (e.g. `:fd`), scalars (like `500` means 500 bins, ends of range auto-adjusted) and ranges (`0:0.2:1000` will be converted to an instance of `FixedBinning`).

[2020-12-14 01:13] JuliaTagBot opened #230 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-12-14 01:13] #230 closed

[2020-12-17 16:03] JohannesBuchner opened #236 "Add support for UltraNest"
I am just opening this to have a place to track and discuss, no rush.

UltraNest is a general-purpose Bayesian inference library based on nested sampling, documented at https://johannesbuchner.github.io/UltraNest/

I think @oschulz's idea was to create a Julia package in a better form than the example Julia script at https://github.com/JohannesBuchner/UltraNest/tree/master/languages/julia . I don'

[2020-12-17 16:35] oschulz commented on #236
Yes, I propose we create a registered package UltraNest.jl, as an official wrapper for UltraNest. Then it should be quite easy to add it to BAT as an optional dependency (like we do with Cuba already).

[2021-03-11 09:34] cescalara opened #267 "HMC warmup not implemented correctly?"
Hi, I was updating some old notebooks and I noticed that in `BAT v2.0.3` the stepsize reached In a simple example of fitting the mean of a Gaussian distribution seems off in comparison with Stan. I had noticed this and fixed it back before the v2 release but it seems to have popped up again (see fig below for a comparison of HMC in BAT and Stan).

I'll try to find time to check this in more detail

[2021-03-11 10:46] oschulz commented on #267
Oh, thanks for checking this! It's strange, the improvements you made back then (https://github.com/bat/BAT.jl/pull/191/files) are all still part of BAT, I just checked. So I'm not quite sure what is going on.

[2021-03-11 10:49] cescalara commented on #267
Yes, I'll have to take a closer look at what has changed and just wanted to flag it for now. You can assign me if you like.

[2021-03-11 11:02] oschulz commented on #267
Merci!

[2021-04-12 12:00] iuraiura opened #274 "example of DataFrames data"
I want more examples. I want an example of processing DataFrames data.

[2021-04-12 12:50] oschulz commented on #274
Did you have a specific statistical application in mind? What kind of model/likelihood would the data be related to? The format (`DataFrame`) or doesn't matter so much, as it's typically easy to convert in-memory, and since BAT.jl requires a user-provided likelihood function.

That being said, we do plan to add explicit forward models to BAT.jl soon, and we'll certainly aim to support formats comp

[2021-04-12 13:19] iuraiura commented on #274
Thank you.

[2021-04-12 13:19] #274 closed

[2021-05-06 15:29] pkroenert opened #280 "Linear Regression with BAT"
First and foremost, thank you very much for your work and the package.

I do have experience with **STAN.jl** and **Turing.jl**, and wanted to try out **BAT.jl**.
However, I fail to understand the syntax to define 'likelihoods' and 'priors'.

In the previous mentioned Packages, one can define the distribution of a parameter with the convenient tilde-syntax.

The following code, shows how one could

[2021-05-06 18:33] oschulz commented on #280
Hi @PToTheK,

thanks for your kind words!

While BAT.jl is a high-level package in principle (wrapping different algorithms for sampling, integration, etc. under a common API), it is a lower level package than Turing.jl, since it doesn't offer a DSL for models in the STAN and Turing fashion. BAT.jl requires (on purpose) a clear separation of prior and likelihood. However, ValueShapes.jl (developed

[2021-05-06 18:38] #93 closed

[2021-05-06 18:38] #109 closed

[2021-05-06 18:38] oschulz commented on #236
Done.

[2021-05-06 18:38] #236 closed

[2021-05-07 09:27] PToTheK commented on #280
Hello @oschulz,
I highly appreciate your answer. Thank you very much!

I'am very interested in how your package determines the `global_mode`.
How well does that work for multimodal posterior distributions?

Best regards!

[2021-05-07 15:30] oschulz commented on #280
BAT.jl can find the mode based on the sample with the highest value, or run an optimizer (possibly starting at the sample with the highest value). But for multi-modal posteriors, you're always going to end up in one of the modes. We have some internal functions for finding multiple modes in marginalizations (we should add a proper public API for that), but not for the full posterior so far.

The n

[2021-05-10 14:06] #280 closed, assigned to nobody

[2021-05-28 16:39] cescalara commented on #267
Hi, as discussed today this issue is now resolved taking into account the space transformations and the equivalent warm-up length. I can offer a PR with some tidied-up code and we can discuss further the next changes.

[2021-05-28 16:39] #267 closed

[2021-05-28 16:44] oschulz commented on #267
That would be great!

[2021-07-13 07:29] jlrestrepol opened #304 "Type instability in bat_sample"
Hi @VasylHafych, Hi @oschulz. I apologize for the long message but I want to tell you what I did and where did I get stuck

As you asked me on Friday I'm creating an issue to explain what I found regarding type instability in bat_sample. The problem is simple:

* This works: `@inferred(bat_sample(MvNormal([0.4, 0.6], [2.0 1.2; 1.2 3.0]), IIDSampling(nsamples=10^6)))`
* This doesn't work: `iid_dist

[2021-07-13 14:44] oschulz commented on #304
Thanks for the write-up!

[2021-09-08 18:45] cranmer opened #318 "Documentation: interfacing to RooFit workspace / likelihood"
Hello,
I believe the previous version of BAT had an interface for working with RooFit likelihoods (that can be stored in a RooFit workspace in a ROOT file). I am curious if there are plans to provide such a module, perhaps in a separate repository. I know there is a generic API for likelihoods.

If I am correct that this was supported in the previous version, it might be worth mentioning the curre

[2021-09-08 19:14] oschulz commented on #318
That why we have the "BAT.jl now offer a different set of functionality [...] C++ predecessor." in the docs. :-)

That being said, we do actually want to bring the RootFit interface back at some point, in principle. It would be an add-on package, due to it's additional dependencies. It's not trivial at the moment though, since Cxx.jl doesn't support current Julia versions (hopefully that will chan

[2021-09-09 12:12] cranmer commented on #318
Ok, thanks!
[It would be nice to write an example interface for pyhf as well: https://pyhf.readthedocs.io/en/v0.6.3/ ]

@oschulz Can I ask an unrelated question (sorry to abuse the GH issue). Can one read/write a BAT model from a file? I don't mean the posterior samples, but the model likelihood and prior itself?
From what I see in the documentation, I don't think so.

[2021-09-09 15:16] cranmer commented on #318
Ok, talking with Philip it sounds like maybe you can write the model to a file with built in Julia serialization.

Looking at https://github.com/JuliaIO/JLD.jl I see

[2021-09-10 20:39] oschulz commented on #318
Indeed, JLD2 can serialize most Julia structures natively, but is not a long-term data preservation format. BAT itself is intended to work with user-provided likelihoods that may contain arbitrary code and is not limited to a DSL, so it doesn't provide an inherent long-term stable serialization format. But if there's interest, we could of course support loading specific formats for serialized like

[2021-09-10 21:37] oschulz commented on #318
I actually discussed just that with @lukasheinrich today. :-) Having pyhf import (and possibly re-export from a pyhf DSL in Julia) capability would definitely be great. It would also require some manpower though (e.g. coupled to a thesis or so) since pyhf is not a tiny spec.

It wouldn't necessarily have to be BAT-specific/dependent, one could think about a standalone PyHF Julia package that imple

[2021-09-10 21:47] oschulz commented on #318
CC @mmikhasenko

[2021-09-13 10:24] YaniBion opened #319 "Doesn't seem to work with Julia 1.6?"
When running the paper example, I get

UndefVarError: n not defined

Stacktrace:
  [1] _ndims(#unused#::Type{Tuple{}})
    @ TypedTables ~/.julia/packages/TypedTables/zfbS2/src/TypedTables.jl:26
  [2] _ndims(#unused#::NamedTuple{(), Tuple{}})
    @ TypedTables ~/.julia/packages/TypedTables/zfbS2/src/TypedTables.jl:25
  [3] _table(nt::NamedTuple{(), Tuple{}})
    @ TypedTables ~/.julia/packages/Typ

[2021-09-13 12:41] lukasheinrich commented on #318
this is great..

one of the easiest pyhf models is the following (with s, b being hyper-parameters) joint model over two poissons. What would this look like inn BAT?

[code]

[2021-09-13 12:50] lukasheinrich commented on #318
also as a cross-ref.. we used ot have a RooFit/python bridge here: https://github.com/cranmer/roofit-python-wrapper but certainly it would be improved.

[2021-09-13 20:31] oschulz commented on #319
Did you fix your issue, @YaniBion ?

[2021-09-13 21:10] oschulz commented on #318
In Julia/BAT, it would look like this (for example):

[code]

One could also write an explicit forward model function that returns a distribution over NamedTuples `(n = ..., a = ...)` and simply use the logpdf of those distributions in the likelihood:

[code]

(Note: The `let`-statements are just there to ensure the current values are captured in a closure, since access to non-const global variabl

[2021-09-14 07:01] YaniBion commented on #319
Yes, I reinstalled CSV, apparently, I had an issue there.

[2021-09-14 13:33] oschulz commented on #319
Thanks for the feedback!

[2021-09-14 15:29] niklasschmitz commented on #318
Disclaimer: I'm not proficient with BAT.jl internals, so please do correct me.

For gradients, an easy way seems to be
[code]
and then to use the reverse-mode AD package Zygote.jl
[code]
To differentiate w.r.t. parameters `n,a,s,b,d` one could similarly introduce another lambda function. Alternatively, another fun Zygote feature is differentiation w.r.t. a function argument directly: This returns

[2021-09-14 15:40] lukasheinrich commented on #318
awesome.. works nicely..  for reference our jax stuff in pyhf

[code]
giving

[code]

[2021-09-14 20:09] oschulz commented on #318
Thanks for the nice write-up, @niklasschmitz!

In addition to Zygote, one can of course also use ForwardDiff (faster with very few parameters due to lower overhead), Enzyme (though it crashes here, doesn't like something in the Poisson-logpdf, Enzyme ist still quite experimental), etc. ForwardDiff can only handle a single array as input, but BAT handles that internally via ValueShapes shaped-to-fl

[2021-10-12 22:13] ParadaCarleton opened #321 "How does BAT differ from Turing?"
Hi! Found this on Github and I'd like to say, BAT.jl looks really interesting, and I'm always happy to see new tools for Bayesian analysis in Julia! I have a quick question -- how does BAT.jl differ from other PPLs in Julia, like Turing, Soss, or Gen?

[2021-10-26 09:31] jknollm opened #322 "Pullback of DistributionTransform"
Hi everyone,

I got a problem regarding the Zygote.pullback and BAT.DistributionTransform, which somehow does no longer work. I use Julia 1.7 with a freshly installed BAT version (should probably be the main branch). Here is a minimal example:

using Zygote
prior = NamedTupleDist(
    ξ = BAT.StandardMvNormal(length(D))
)
pos = rand(prior)
bwd_trafo = BAT.DistributionTransform(Normal, prior)
fwd_t

[2021-10-27 14:57] #322 closed, assigned to nobody

[2022-03-25 12:11] philippeller opened #336 "Sampling with a single chain"
Sampling with `nchains=1` results in an AssertionError:

[code]

[2022-03-25 15:55] philippeller opened #337 "Bridge sampling with non-integer weights"
When using the bridge sampler on samples generated with non-integer weights, it crashes (stack trace below).

It is in particular the `nsamples=Int(sum(second_batch.weight))` here:
https://github.com/bat/BAT.jl/blob/e4fcc532e5eb1ad192374d062ae50328d4ddfa21/src/integration/bridge_sampling_integration.jl#L134

I suggest for instance to use `floor(Int,sum(second_batch.weight))` instead

[code]

[2022-04-04 10:53] fredRos opened #340 "Handling periodic parameters"
I would like to understand how you handle the transformation of periodic parameters like an angle to an unbounded domain internally. Couldn't find any mention in the docs and also couldn't find an example or something in the https://github.com/bat/BAT.jl/blob/main/src/transforms/distribution_transform.jl file but I might have missed that.

Thanks

[2022-04-04 14:20] oschulz commented on #340
We haven't had many application in with periodic parameters so far. In principle, using a [Distributions.VonMises](https://juliastats.org/Distributions.jl/latest/univariate/#Distributions.VonMises) distribution should work out-of-the-box. If the prior is weak, the mode may end up split though, I guess. We're currently working on integrating normalizing-flows into BAT's sampling to handle multi-mod

[2022-04-05 10:07] fredRos commented on #340
@oschulz Thanks. I never really thought this through myself, either. But I put some thoughts [here](https://github.com/pypmc/pypmc/issues/98#issuecomment-1088508154). Looks like staying 2D is the better solutions for a sampler that wants a continous unbounded space

[2022-04-05 10:40] oschulz commented on #340
Yes, I've been thinking about this too - in cases where there's no natural 2D representation, maybe one could add a virtual vector length as a dummy parameter, with a Weibull or similar positive prior on it. The likelihood would just ignore that parameter. This should keep the sampler happy and it wouldn't introduce multi-modality.

[2022-04-12 21:49] Moelf opened #344 "Use histogram as both prior and input data?"
as of:
- #70

we can use histogram as prior, in HEP (as @oschulz knows), the input data is also histogram (with same binning of course), and each uncertainty variation as one additional histogram.

Can we run likelihood for parameter extraction in such case?

[2022-04-13 07:05] oschulz commented on #344
Sure, that should work! [EmpiricalDistributions.jl](https://github.com/oschulz/EmpiricalDistributions.jl) turns histograms into (stepwise, no KDE capability and gradient yet, so not compatible with HMC) distributions, which can just be plugged into a `VariableShapes.NamedTupleDist(a = ..., b = ...)` as components of the prior.

The likelihood can use an arbitrary log-likelihood function, that has

[2022-04-13 20:06] Moelf commented on #318
re-useing `pyhf`'s likelihood seems to be free:
[code]

then for BAT
[code]

just works. Of course this case it's probably `Optim.jl` handling the fit without gradient.

[2022-04-13 21:47] Moelf opened #345 "MLE best-fit parameter disagreeing with `pyhf`"
Related to:
- #318
[code]

## Result
[code]

[2022-04-13 22:36] lukasheinrich commented on #318
nice! one thing that might be nice to try is to use @philippeller's `batty` from python https://github.com/philippeller/batty

also note: the pyhf pdf comes with data-driven constraints that perhaps in a native Bayesian approach would be given as priors. I.e. the priors BAT should receive with this more detailed PDF are likely more uninformative, i.e. θ might rather be Uniform or a wide normal as

[2022-04-13 22:39] lukasheinrich commented on #345
@Moelf can you try with a Flat prior for theta?

[2022-04-13 22:41] Moelf commented on #345
changing prior to:
[code]
fixed it:
[code]

that's pretty unexpected, shouldn't the MLE() fit mostly not care about prior (cuz we're not sampling)?

[2022-04-13 22:48] Moelf commented on #345
for comparison, if we use `Turing.jl`, also MLE problem (no sampling):
[code]

[2022-04-13 22:55] lukasheinrich commented on #345
MLE and posterior mode are only equivalent for flat priors

[2022-04-13 22:56] Moelf commented on #345
I understand the posterior would change, but I thought for the MLE it shouldn't care much if prior is flat or not.

Turing gives same results I think

[2022-04-13 22:59] lukasheinrich commented on #345
Afaik bat gives you the posterior mode in any case , I don't know if there is a pure MLE for api in BAT

[2022-04-13 23:00] lukasheinrich commented on #345
Ie findmode gives you maximum a posteriori estimates (MAP) not MLE

[2022-04-13 23:01] Moelf commented on #345
that would make sense then, so I guess as advertised `bat_findmode` still involves Bayesian sampling and is simply giving me the mode of the parameter, which should is only equivalent to a likelihoodism MLE when all priors are flat.

Then for doing Frequentist Procedure, I would use Turing.jl + pyhf or PyCall + pyhf for now!

[2022-04-14 06:43] oschulz commented on #345
It doesn't sample, but yes, it find the global maximum (at least it tries to) of the posterior density.

You can use BAT and ValueShape tools to do a MLE:

[code]

It's not really in line with BAT's philisophy as a Bayesian package, but we could add an MLE function to BAT, e.g. to enable comparison with frequentist results. The prior would then be used to inform the optimizer about the shape of th

[2022-04-14 06:49] Moelf commented on #321
I want to point out that you can also provide custom likelihood in Turing.jl:
https://turing.ml/dev/docs/using-turing/advanced#update-the-accumulated-log-probability-in-the-model-definition

[2022-04-14 06:54] oschulz commented on #318
@Moelf provided a nice initial example in #345.

[2022-04-14 06:56] Moelf commented on #318
Still need to figure out how to define the correct rrule, right now it would crash if you try to sample the posterior

[2022-04-14 06:58] oschulz commented on #318
And we should make life easier on the user by looking into the pyhf model to get the order of variables, so things won't go badly if they are in a different order in the prior.

[2022-04-14 07:08] oschulz commented on #321
Oh, right, that's a nice feature!

I guess another important difference is that BAT explicitly distinguishes between prior and likelihood, and can support likelihoods that are not (explicitly) tied to data.

[2022-04-14 07:14] Moelf commented on #321
I don't know how hard that would be in Turing but surely if you don't use the DSL macro you have more control. Might be worth asking in Slack?

[2022-04-14 07:46] lukasheinrich commented on #345
I think it's fine to require folks to use flat priors if they want to compare to MLE

[2022-04-14 08:11] oschulz commented on #321
Sure, you can of course use the samplers that power Turing directly - which BAT does, e.g. AdvancedHMC. BAT then adds a nice likelihood/prior-oriented interface on top of it, including its parameter space transformation capabilities (which we're currently extending).

[2022-04-14 18:14] ParadaCarleton commented on #321
Not sure I understand how that differs from Turing -- in DynamicPPL you can distinguish between the prior and the likelihood by working with `tilde_assume` and `tilde_observe`, or by using contexts. Is there some feature missing that would let you use DynamicPPL?

[2022-04-15 09:50] oschulz commented on #321
Sure, I didn't mean that DynamicPPL doesn't have a concept of prior and likelihood, but you don't get them as separate objects, right? Though maybe separate prior and likelihood "models" can be composed?

I actually would like to add support for DynamicPPL to BAT, as they're kinda orthogonal. DynamicPPL is a way to express models, whereas BAT is more concerned with taking models from the user and

[2022-04-15 16:24] Moelf commented on #321
is my understanding correct that in BAT.jl you **have** to define likelihood manually?

[2022-04-15 22:42] Moelf commented on #345
wait, is `bat_findmode` actually a MLE fit for some reason? I realized this because in Turing:
[code]
and `optimize(model, MAP())` gives results that agree with `pyhf.fit.mle()`, which is expected.

but for `bat_findmode`, I have to give Flat prior, which means that it's `MLE Bayesian == MLE freq.` in this case that makes the result agree?

[2022-04-16 00:15] #345 closed

[2022-04-16 05:37] Moelf commented on #345
For posterity, the real cause of disagreement is because the Frequentist likelihood and Bayesian likelihood are not equal to begin with:
[code]

notice the deliberate omission of `logpdf(NM, θ)` in the likelihood, this term which we add in Frequentist likelihood (and is called `aux data` in `pyhf`) is equivalent to finding the MAP in a Bayesian model given a prior `θ ~ NM`, thus we don't need it i

[2022-04-16 13:14] lukasheinrich commented on #345
It depends a bit which part you model with data and what you leave to the prior. The measurements in the Aufsatz often represent actual measurements done by eg the collaboration that should be considered and not overridden by the prior. One way is either to have a first Bayesian step to derive a posterior on the NP given this auf measurement or alternatively model this in the likelihood.

[2022-04-16 18:37] oschulz commented on #321
Yes. However, now that we finally have DensityInterface.jl in place, I would like to establish packages that provide likelihoods for standard use cases (e.g. histogram fits, etc.) than can then be used with BAT, MeasureTheory and hopefully other packages as well (Turing could support DensityInterface too via it's "external likelihood" macro, I think).

We'll also add support to BAT for forward mod

[2022-04-16 18:49] oschulz commented on #345
I guess it really depends on what you consider your "prior knowledge to be" - this can, of course, be a philosophical question. :-)

[2022-04-16 18:51] oschulz commented on #321
CC @cscherrer

[2022-04-16 19:04] Moelf commented on #345
the prior in LHC experiments is what Combined Performance groups measured. The CP tools give you the expected bin counts at +/- 1 sigma, which is why all the parameters have a prior of `Normal(0, 1)`.

I think now I feel really weird we do this, namely, adding constraints to likelihood to mimic Bayesian prior (in Bayesian formulation this is naturally the result)

[2022-04-16 20:41] lukasheinrich commented on #345
We can discuss offline but I would posit it's natural either way

At the Core the CP groups provide _measurements_ of actual data not beliefs. You can either use that to update your prior on nuisance parameter that later then you use for your main measurement or you skip that step and model the joint measurement of the cp measurement and you main analysis

I wouldn't say one is more natural than t

[2022-04-29 12:05] #340 closed

[2022-05-07 04:37] oschulz opened #351 "BAT package load time and modularization"
This issue is intended to keep track of modularizing (splitting up) BAT to reduce package load time(s) and increase flexibility.

The current high load time of BAT is mainly due to it's dependencies. Dependency optims and load-time cost, preliminary analysis:

Unavoidable expensive core deps:

* Distributions (includes StatsBase)
* StaticArrays (indirect through many packages)

Hard-to-avoid expen

[2022-05-07 09:40] ChrisRackauckas commented on #351
Even with v3 splitting out the solvers?

[2022-05-07 09:41] ChrisRackauckas commented on #351
Interesting, how expensive, and due to what? There's not much in there 😅

[2022-05-07 13:07] oschulz commented on #351
I was very surprised as well, I had always assumed SciMLBase to be very lightweight, I just never timed it before.

Oh, I maybe I had GalacticOptim v2 due to some dep - though even with v3 it has a not insignificant load time:

Session 1:

[code]

Session 2:

[code]

Session 3:

[code]

Also, in comparison (though Optim and GalacticOptim are not actually replacements for each other of course) - lo

[2022-05-07 13:22] oschulz commented on #351
SciMLBase seems to have some strange load time effects depending on order of package loading in general. I don't get why ...

When timing it all in one go it's not so extreme, but around 300 ms still seems to be very high for a "Base" package:

[code]

StaticArrays and especially ArrayInterface heavier still, of course, and RecursiveArrayTools is also not exactly lightweight.

[2022-05-07 13:31] ChrisRackauckas commented on #351
I wonder how requires is measured. My guess is that it's triggering requires in ArrayInterface and that's measured as part of the SciMLBase time.

[2022-05-07 13:55] oschulz commented on #351
I would think so ... probably have to ask Tim or so. :-)

[2022-05-07 14:53] oschulz commented on #351
Oh wow, ArrayInterface has a *lot* of requires!

[2022-05-07 14:54] ChrisRackauckas commented on #351
Hence the idea to make it like GalacticOptim in terms of subpackages.

[2022-05-07 15:01] oschulz commented on #351
You man JuliaArrays/ArrayInterface.jl#211? Yes, that would be great - and if there a more lightweight parts, maybe some of the requires can be turned into thoses packages depending on it? I feel we have quite a few dependencies in the ecosystem right now that should be the other way round, and lot's of requires to compensate for it.

[2022-05-07 15:05] ChrisRackauckas commented on #351
Indeed, that's the dream.

[2022-05-17 14:11] lmh91 opened #355 "Order of Samples not preserved in IO via HDF5.jl"
The example from the test set "hdf5" fails, if the order of the parameters in the prior is not alphabetically sorted.

## MWE

I just changed `a` and `b` in `example_posterior`:
[code]

[2022-05-25 12:57] #355 closed

[2022-08-04 18:24] athoynilimanew opened #381 "Custom CIs and/or printing all CI values via bat_report"
Hello!

I am a new user of BAT, and currently use bat_report(samples) for the credible intervals to be printed on screen. However, that only prints out the 68% CI, not the others.

Also, is it possible to change the default CIs ?

If you could add some functions to customise CI quantiles and print out all CIs on screen (all CIs shown in the marginalised plot), it could be of great help.

[2022-08-04 21:02] oschulz commented on #381
Yes, we can definitely make that configurable.

[2022-08-04 22:08] oschulz commented on #381
Until we make `bat_report` more configurable, you can use this workaround:

[code]

with `nsigma_equivalent` set to `1`, `2`, or `3` to get smallest 68%, 95% or 99.7% intervals (you need the lastest BAT main branch). Not the `BAT.smallest_credible_intervals` is not part of BAT's stable API and subject to change.

[2022-08-05 08:53] athoynilimanew commented on #381
ok, But this has to be done inside the marginal_table() function. If I change the smallest CI like you said, and then run bat_report, it calls the marginal_table()  function where it is reset to nsigma= 1 again.

[2022-11-07 16:44] Lowerce commented on #381
Are the above operations still available in BAT v2.0.5?

[2022-11-07 20:42] oschulz commented on #381
Sorry, no, this is currently only available on the main branch. We're preparing a BAT v3.0 release, but there's stiff some unfinished things we want to get done, hopefully quite soon. We have a few minor breaking changes compared to v2, and I don't want to rack up the major version count because we've missed one or two more changes that we still need to make. I recommend that you use the main bran

[2022-11-08 04:00] Lowerce commented on #381
OK, I will try the version of main branch. Thank you.

[2022-11-08 07:30] oschulz commented on #381
Please let us know if you encounter any issues or need specific features or so.

@athoynilimanew sorry for the delay, btw - I'll get around to making CI configurable in reports, promise!

[2022-11-17 03:02] Lowerce commented on #381
I used `bat_report`in jupyter notebook. But something like the following occurs：
[code]
It seems to be a problem with the format. How could I fix it?

`BAT.smallest_credible_intervals` worked just fine.

P.S. If the above two APIs can't set custom CI like 90% in the present dev version?